  #map {
    height: 100%;
    margin-bottom: 0px;
    margin-right: 0px;
  } #my-login-button-target {
    width: 150px;
  }
  html, body {
    height: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0;
  } nav {
    float: left;
    max-width: 300px;
    font-family: 'Roboto', sans-serif;
  } ul {
        list-style-type: none;
        margin: 0px;
        padding: 0px;
        width: 250px;
        background-color: rgb(235,235,235);
  } li a {
        display: block;
        color: black;
        padding: 18px 26px;
        font-size: 18px;
        text-decoration: none;
  } .button {
        background-color: black;
        border: 1px solid black;
        color: white;
        padding: 8px 100px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
        display: block;
  } .button:hover {
        border-color: white;
        color: black;
        background-color: white;
  } .sq  {
        border: 2px solid white;
        float: right;
        color:black;
        background-color: white;
        font-size: 20px;
        padding: 40px 60px;

  } .sq:hover {
      border-color: black;
      color: white;
      background-color: black;
  } #about {
        margin-left: 25px;
        margin-right: 20px;
  } #my-login-button-target {
        margin-left: 7px;
  }
